<!-- aquarium.component.html -->
<div class="cuerpo">
    <header>

        <h1 class="admin-title">{{PeceraData.nombre}}</h1>
        <p>{{PeceraData.descripcion}}</p>
        <div style="display: flex; justify-content: center; gap: 10vw; margin-bottom: 10px;  ">

            <p>
                <strong>Tamaño:</strong>
                {{ PeceraData.tamano === 's' ? 'Chica'
                : PeceraData.tamano === 'm' ? 'Mediana'
                : 'Grande' }}

            </p>
            <button (click)="infoSensors(PeceraData.id)" class="submit-button">Ver registro de sensores</button>
        </div>
    </header>

    <div class="contenido">
        <!-- Datos de la pecera -->
        <div class="datos-container">
            <h2>Datos de los sensores en tiempo real</h2>

            <div class="datos">
                <div
                    *ngFor="let tipo of ['temperatura', 'flujoAgua', 'calidadAgua', 'nivelAgua', 'nivelOxigeno','movimiento']">
                    <div *ngIf="valoresSensores[tipo]?.length">
                        <h4><strong>{{ nombreSensores[tipo] }}</strong></h4>

                        <ul>
                            <li *ngFor="let valor of valoresSensores[tipo]; let i = index">
                                Sensor {{ i + 1 }}: {{ valor }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Control Manual -->
        <div class="control-actuadores">
            <h3>Actuadores dinámicos</h3>
            <div *ngFor="let cat of actuadorTipos">
                <h4>{{ nombreActuadores[cat] }}</h4>

                <div class="actuadores">
                    <button *ngFor="let estado of valoresActuadores[cat]; let i = index" class="btn"
                        [ngClass]="estado ? 'encender' : 'apagar'"
                        (click)="enviarMensajeActuador(cat, i+1, estado.toString())">
                        {{ nombreActuadores[cat] }} {{ i + 1 }}
                    </button>
                </div>
            </div>
        </div>

        <!-- Gráficos agrupados por tipo -->
        <div class="graficos">
            <!-- Temperatura -->
            <div *ngIf="sensorConfig.temperatura > 0" class="grafico">

                <canvas #canvasTemperatura></canvas>
            </div>

            <!-- Flujo de agua -->
            <div *ngIf="sensorConfig.flujoAgua > 0" class="grafico">

                <canvas #canvasFlujoAgua></canvas>
            </div>

            <!-- Calidad de agua -->
            <div *ngIf="sensorConfig.calidadAgua > 0" class="grafico">

                <canvas #canvasCalidadAgua></canvas>
            </div>

            <!-- Nivel de agua -->
            <div *ngIf="sensorConfig.nivelAgua > 0" class="grafico">

                <canvas #canvasNivelAgua></canvas>
            </div>

            <!-- Nivel de oxígeno -->
            <div *ngIf="sensorConfig.nivelOxigeno > 0" class="grafico">

                <canvas #canvasNivelOxigeno></canvas>
            </div>
        </div>
    </div>
</div>

<style>
    .grafico {
        margin-bottom: 1.5rem;
    }

    .grafico canvas {
        width: 100% !important;
        height: 300px !important;
    }
</style>