<div class="cuerpo">
    <header>
        <h1>{{PeceraData.nombre}}</h1>
        <p>{{PeceraData.descripcion}}</p>
        <p><strong>Tamaño:</strong> {{PeceraData.tamanio === 's' ? 'Chica': PeceraData.tamanio === 'm' ? 'Mediana' :
            'Grande' }}</p>
    </header>

    <div class="contenido">
        <!-- Datos de la pecera -->
        <div class="datos-container">
            <h2>Datos de los sensores en tiempo real</h2>
            <div class="datos">

                <div *ngFor="let tipo of ['temperatura', 'flujoAgua', 'calidadAgua', 'nivelAgua', 'nivelOxigeno']">
                    <div *ngIf="valoresSensores[tipo]?.length">
                        <h4><strong>{{ tipo | titlecase }}</strong></h4>
                        <ul>
                            <li *ngFor="let valor of valoresSensores[tipo]; let i = index">
                                Sensor {{ i + 1 }}: {{ valor }}
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>

        <!-- Control Manual -->
        <div class="botones">
            <h2>Control Manual</h2>
            <button class="btn" [ngClass]="PeceraData.estadoBomba === 'true' ? 'encender' : 'apagar'"
                (click)="enviarMensajeActuador('calidadAgua', 1, PeceraData.estadoBomba)">
                Bomba
            </button>
            <button class="btn" [ngClass]="PeceraData.estadoResistencia === 'true' ? 'encender' : 'apagar'"
                (click)="enviarMensajeActuador('Temperatura', 1, PeceraData.estadoResistencia)">
                Resistencia
            </button>
        </div>

        <!-- Gráficos dinámicos -->
        <div class="graficos">
            <!-- Temperatura -->
            <div *ngFor="let _ of [].constructor(sensorConfig.temperatura); let i = index" class="grafico">
                <canvas #canvasTemperatura></canvas>
            </div>

            <!-- Flujo de agua -->
            <div *ngFor="let _ of [].constructor(sensorConfig.flujoAgua); let i = index" class="grafico">
                <canvas #canvasFlujoAgua></canvas>
            </div>

            <!-- Calidad de agua -->
            <div *ngFor="let _ of [].constructor(sensorConfig.calidadAgua); let i = index" class="grafico">
                <canvas #canvasCalidadAgua></canvas>
            </div>

            <!-- Nivel de agua -->
            <div *ngFor="let _ of [].constructor(sensorConfig.nivelAgua); let i = index" class="grafico">
                <canvas #canvasNivelAgua></canvas>
            </div>

            <!-- Nivel de oxígeno -->
            <div *ngFor="let _ of [].constructor(sensorConfig.nivelOxigeno); let i = index" class="grafico">
                <canvas #canvasNivelOxigeno></canvas>
            </div>
        </div>
    </div>
</div>