<div class="cuerpo">
    <header>
        <h1>{{PeceraData.nombre}}</h1>
        <p class="descripcion">{{PeceraData.descripcion}}</p>

    </header>

    <div class="contenido">
        <div class="datos-container">
            <h2>Datos de la pecera</h2>
            <div class="datos">
                <p><strong>Tamaño:</strong>Grande</p>
                <p><strong>Temperatura:</strong> {{PeceraData.temperatura}} °C</p>
                <p><strong>Nivel de agua:</strong> {{PeceraData.nivelAgua}}</p>
                <p><strong>Calidad de agua:</strong> {{PeceraData.calidadAgua}}</p>
                <p><strong>Movimiento:</strong> {{PeceraData.movimiento}}</p>
                <p><strong>Electricidad:</strong> {{PeceraData.electricidad}}</p>
                <!-- <p><strong>Estado bomba de agua (calidad de agua):</strong> {{PeceraData.estadoBomba}}</p>
                <p><strong>Estado resistencia (temperatura):</strong> {{PeceraData.estadoResistencia}}</p> -->
            </div>
        </div>

        <div class="botones">
            <h2>Control Manual</h2>
            <button class="btn encender" (click)="enviarMensajeActuador('calidadAgua',1,PeceraData.estadoBomba)"
                class="{{ PeceraData.estadoBomba === 'true' ? 'encender' : 'apagar' }}">
                {{ PeceraData.estadoBomba === 'true' ? 'Bomba' : 'Bomba' }}
            </button>
            <button class="btn encender" (click)="enviarMensajeActuador('Temperatura',1,PeceraData.estadoResistencia)"
                class="{{ PeceraData.estadoResistencia === 'true' ? 'encender' : 'apagar' }}">
                {{ PeceraData.estadoResistencia === 'true' ? 'Resistencia' : 'Resistencia' }}
            </button>

            <button class="btn encender" (click)="enviarMensajeActuador('calidadAgua',1,PeceraData.estadoBomba)"
                class="{{ PeceraData.estadoBomba === 'true' ? 'encender' : 'apagar' }}">
                {{ PeceraData.estadoBomba === 'true' ? 'Bomba' : 'Bomba' }}
            </button>
            <button class="btn encender" (click)="enviarMensajeActuador('Temperatura',1,PeceraData.estadoResistencia)"
                class="{{ PeceraData.estadoResistencia === 'true' ? 'encender' : 'apagar' }}">
                {{ PeceraData.estadoResistencia === 'true' ? 'Resistencia' : 'Resistencia' }}
            </button>
        </div>

        <div class="graficos">
            <div class="grafico">
                <canvas #canvasTemp></canvas>
            </div>
            <div class="grafico">
                <canvas #canvasCalidadAgua></canvas>
            </div>
            <div class="grafico">
                <canvas #canvasNivelAgua></canvas>
            </div>

        </div>


    </div>
</div>